<div class="container-fluid mt-5 about-style" id="aboutid">
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
       <div class="row">
         {{!-- left side --}}
         <div class="col-md-6 col-12 hero-text" >
        <figure>
            <img src="images/about_image.jpg" alt="" width="700px">
        </figure>
        </div>
       
        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
         <h1>WE ARE THE PROFESSIONAL DEVELOPER✌️</h1>
         <h1>GROW YOUR BUSINESS</h1>
         <P>Welcome To <span class="bold-style">PankajProgramming</span>, Your Number One Source For All Things. We're Dedicated To Giving You The Very Best Of Work, With A Focus On [Three Characterstics, Ie:Dependability, Costumer Servcice And Uniqueness.]
         </P>
         <button class="btn-style btn-primary">Read More</button>
        </div>

       </div>
      </div>
   </div>
</div>