<div class="container-fluid mt-5 about-style" id="serviceid">
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Servcices</h1>
        <p class="text-center sub-heading">What service do you want</p>
       <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services frontend">  
                 <h4>Frontend</h4>
                 <p>My interests are in Front End Engineering, and I love to create beautiful and performant products with delightful user experiences.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services backend"> 
                 <h4>Backend</h4>
                 <p>I provide the facility of backend server side work too.
                    Best user-experince build website with the help of back-end.
                 </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                 <h4>Database</h4>
                 <p>I am Full Stack Developer, So i provide also the facilties of database</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services authentication">  
                 <h4>Authentication</h4>
                 <p>I also provide your websites secuirty because i have some exprience in security mean hacking worked</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services dataentry">
                 <h4>Data-Entry</h4>
                 <p>Apart from this i also provide Data Entry Work.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box">
                <div class="our-services pptdesign">
                 <h4>Ppt-Design</h4>
                 <p>Like as Data Entry I provides PPT Design Worked.</p>
                </div>
            </div>
        </div>
       

           </div>
         </div>
       </div>
    </div>